In [1]:
import pandas as pd
import numpy as np
import sqlite3  # Built-in SQL database
from sqlalchemy import create_engine  # Advanced database toolkit
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Hands-on
# 1) create a dictionary that hold objects on your desk : name, color, value
desk_objects = {
    "name": ["Laptop", "Notebook", "Pen", "Phone", "Mug"],
    "color": ["Silver", "Blue", "Black", "Black", "White"],
    "value": [1200, 15, 2, 800, 10]
}

In [3]:
# 2) convert the python dictionary to pandas Dataframe
desk_object_df = pd.DataFrame(desk_objects)

In [4]:
desk_object_df

       name   color  value
0    Laptop  Silver   1200
1  Notebook    Blue     15
2       Pen   Black      2
3     Phone   Black    800
4       Mug   White     10

In [5]:
# connection
conn = sqlite3.connect('objects.db') 
cursor = conn.cursor()  # A cursor is like a pointer to execute commands

In [6]:
# 3) write the dataframe to a SQL table and call the tables 'objects' 
desk_object_df.to_sql('objects', conn, if_exists='replace')
# customers_df.to_sql('customers_table', conn, if_exists='replace', index=False)

5

In [7]:
# 4) delete any row with value < $50
query = """
DELETE FROM objects
WHERE value < 50
"""

In [8]:
#experiment with pd.read_sql instead of execute
""" Looks like the pd.read_sql() is applicable for select query, but not for 'operational' queries like delete.
The option for 'operational' queries are using execute()."""

query_panda = pd.read_sql(query, conn)
query_panda

TypeError: 'NoneType' object is not iterable

In [9]:
cursor.execute(query)
conn.commit()

In [10]:
# 5) convert the SQL table to pandas df and show
query2 = """
SELECT * FROM objects
"""
query2_pandas = pd.read_sql(query2, conn)

In [11]:
query2_pandas

   index    name   color  value
0      0  Laptop  Silver   1200
1      3   Phone   Black    800

In [12]:
query2_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2 non-null      int64
 1   name    2 non-null      object
 2   color   2 non-null      object
 3   value   2 non-null      int64
dtypes: int64(2), object(2)
memory usage: 196.0+ bytes

In [13]:
conn.close()